@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-textt: #07110c;
  --color-backgroundd: #f9fcfa;
  --color-primaryy: #54b689;
  --color-secondaryy: #d3a0d6;
  --color-accentt: #c67a8b;
}
