@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* --color-*: initial; */
  --color-text: #07110c;
  --color-background: #f9fcfa;
  --color-primary: #54b689;
  --color-secondary: #d3a0d6;
  --color-accent: #c67a8b;
}
